<header [ngClass]="{ 'header-scroll': scrolled }">
  <a (click)="scrollToComponent('landingpage')" class="logo"><img src="/assets/images/warzone logo.png" alt="wz logo"></a>

  <ul class="navlist">
    <li><a (click)="scrollToComponent('landingpage')">Home</a></li>
    <li><a (click)="scrollToComponent('aboutpage')">About</a></li>
    <li><a (click)="scrollToComponent('statistics')">Statistics</a></li>
  </ul>
  <div class="bx bx-menu" id="menu-icon" (click)="toggleMenu()"></div>
</header>

<app-landingpage id="landingpage"></app-landingpage>
<app-aboutpage id="aboutpage"></app-aboutpage>
<app-searchbar id="statistics"></app-searchbar>
<app-stats-display></app-stats-display>

<footer class="footer">
  <div class="container">
    <span class="text">&copy; 2023 WZ-STATS All rights reserved</span>
  </div>
</footer>
