<section class="hero">
  <div class="hero-text">
    <h4>Stat Tracking</h4>
    <h1>WARZONE</h1>
    <br/>
    <p>
      Dive into the battlefield and dominate Warzone 2 with real-time stat
      tracking. Rise above the competition and unleash your heroic prowess!
    </p>
    <a class="hero-compare-text">Compare Stats</a>
    <a href="https://www.youtube.com/results?search_query=warzone" class="ctaa"><i class="ri-play-fill"></i>Watch WZ Gameplay</a>
  </div>

  <div class="hero-img">
    <img src="/assets/images/model-images/ghost-hero.png" />
  </div>

  <div class="icons">
    <a href="https://www.instagram.com/callofduty/"
      ><i class="ri-instagram-line"></i
    ></a>
    <a href="https://www.youtube.com/@CallofDuty"
      ><i class="ri-youtube-line"> </i
    ></a>
    <a href="https://twitter.com/callofduty"><i class="ri-twitter-line"></i></a>
    <a href="https://www.callofduty.com/gb/en/warzone"
      ><i class="ri-global-line"></i
    ></a>
  </div>

  <div class="scroll-down" (click)="scrollDown()">
    <a><i class="ri-arrow-down-s-fill"></i></a>
  </div>
</section>
