.container {
  max-width: 80%;
  height: max-content;
  padding: 25px;
  margin: 0 auto;
  margin-bottom: 10%;
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.1);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-container h3 {
  color: lightblue;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 15px;
  border-radius: 10px;
  max-width: max-content;
  font-size: clamp(16px, 2vw, 20px);
}

.header-container h3:not(:last-child) {
  margin-right: 15px;
  margin-left: 5px;
}

.header-container h3:last-child {
  margin-left: auto;
  margin-right: 5px;
}

.general-stats-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.lifetime {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 15px;
  border-radius: 10px;
  width: 40%;
  margin: 5px;
}

.lifetime h3 {
  color: lightblue;
  border-bottom: 1px solid rgb(173, 216, 230, 0.5);
}

.fade-in {
  animation: fadeInAnimation 0.5s;
}

.col {
  width: 50%;
  display: inline-block;
  color: white;
}

.col ul li {
  padding: 5px;
}

.col ul li span {
  font-weight: bold;
  color: lightblue;
}

.battleroyale,
.plunder {
  width: 30%;
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 15px;
  border-radius: 10px;
}

.battleroyale h3,
.plunder h3 {
  border-bottom: 1px solid rgb(173, 216, 230, 0.5);
  color: lightblue;
}

.battleroyale ul li,
.plunder ul li {
  padding: 5px;
  color: white;
}

.battleroyale ul li span,
.plunder ul li span {
  font-weight: bold;
  color: lightblue;
}

.map-and-recent-container {
  display: flex;
  justify-content: space-between;
}

.map-stats-container {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 15px;
  border-radius: 10px;
  margin: 5px;
  width: 100%;
}

.map-stats-container h3,
.recent-stats-container h3 {
  border-bottom: 1px solid rgb(173, 216, 230, 0.5);
  color: lightblue;
  margin-inline: 10px;
}

.map-stats {
  display: flex;
  justify-content: space-between;
}

.mazrah-stats,
.ashika-stats {
  width: 50%;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.mazrah-stats img,
.ashika-stats img {
  width: 70%;
  border-radius: 5px;
}

.map-stats-text {
  width: 30%;
  padding-left: 10px;
  color: white;
}

.map-stats-text ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.map-stats-text ul li {
    padding: 5px;
    text-align: center;
}

.map-stats-text ul li span {
  font-weight: bold;
  color: lightblue;
}

.map-stats-text h5 {
  border-bottom: 1px solid rgb(173, 216, 230, 0.5);
  text-align: center;
  color: lightblue;
}

.recent-stats-container {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 15px;
  border-radius: 10px;
  margin: 5px;

}

.recent-stats {
  display: flex;
  padding: 15px;
  border-radius: 10px;
}

.recent-stats ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.recent-stats h3 {
  border-bottom: 1px solid rgb(173, 216, 230, 0.5);
  color: lightblue;
}

.recent-stats ul li {
  padding: 5px;
  color: white;
}

.recent-stats ul li span {
  font-weight: bold;
  color: lightblue;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
