<div class="container">
  <div class="stats-head">
    <h1>Check Stats</h1>
    <p>Enter a player's username to check their stats</p>
  </div>
  <div class="searchbar-input">
    <input [(ngModel)]="playerName" type="text" placeholder="Enter Tag" />
    <button (click)="getPlayerStats()">SEARCH</button>
    <div class="platform-select" (click)="togglePlatform()">
      <div class="dropdown">
        <img class="default-selector" [src]="selectImage" />
        <div class="dropdown-content">
          <a (click)="setPlatform('activision')"
            ><img src="/assets/images/platform-icons/activision.png"
          /></a>
          <a (click)="setPlatform('battlenet')"
            ><img src="/assets/images/platform-icons/battlenet.png"
          /></a>
          <a (click)="setPlatform('steam')"
            ><img src="/assets/images/platform-icons/steam.png"
          /></a>
          <a (click)="setPlatform('playstation')"
            ><img src="/assets/images/platform-icons/playstation.png"
          /></a>
          <a (click)="setPlatform('xbox')"
            ><img src="/assets/images/platform-icons/xbox.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
