<div class="container">
  <section class="about">
    <div class="about-img">
      <img src="/assets/images/ghost-about.png" />
    </div>
    <div class="about-text">
      <h1>ABOUT US</h1>
      <p>
        We provide accurate and real-time data to empower players and enhance
        their gaming experience.
      </p>
      <br />
      <p>
        Our mission is to deliver comprehensive and reliable player statistics.
        With intuitive search functionality, we strive to create a clean and
        user-friendly environment for gamers to stay informed and challenge
        themselves.
      </p>
    </div>
  </section>
</div>
